<?xml version="1.0"?>


<launch>
<arg name="gui" default="False" />
<param name="robot_description" textfile="/home/zyme/ROBOT/catkin_ws/src/my_servo/urdf/servo.xacro" />
<param name="use_gui" value="$(arg gui)"/>
<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
<node name="rviz" pkg="rviz" type="rviz" args="/home/zyme/ROBOT/catkin_ws/src/my_servo/urdf/myrobot.rviz" required="true" />


</launch>